@import "compass";

/* Variables */

/* Custom Font Sizes */
.big {
    font-size: 150%;
}

.bigger {
    font-size: 200%;
}

.biggest {
    font-size: 250%;
}

.underline {
    text-decoration: underline;
}

/* Customize Navbar */

.navbar-inner {
    /*background-color: #484848;*/
    @include background-image(linear-gradient(top, #414141, #4F4F4F 40%, #484848));
    background-repeat: repeat-x;
}

/* Brand in the navbar */
.navbar-inverse {
	.navbar-brand {
		color: #B0B0B0;
	}
}

/* Links in the navbar */
.navbar-inverse { 
	.navbar-nav > li > a {
		color: #B0B0B0
	}
}

/* Custom Color */

body {
    background-color: #ecf7fb;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.wrap > .navbar {
    font-size: 13px;
}

.wrap > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
		-o-transition: all .2s linear;
    transition: all .2s linear;
}

.wrap > .navbar .brand:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Sticky Footer Styling */

/* Wrapper for page content to push down footer */
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -70px;
}

/* Set the fixed height of the footer here */
.push,
.footer {
    min-height: 70px;
}

.footer {
    min-height: 70px;
    color: #EBEBEB;
    text-align: center;
    background-color: #484848;
    @include background-image(linear-gradient(top, #414141, #4F4F4F 40%, #484848));
    background-repeat: repeat-x;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Header Styles */

.logo {
    float: left;
    margin-right: 5px;
    height: 40px;
}