.big {
    font-size: 150%;
}

.bigger {
    font-size: 200%;
}

.biggest {
    font-size: 250%;
}

.underline {
    text-decoration: underline;
}

/* Customize the navbar */

.navbar-inner {
    background-color: #555555;
    background-image: -moz-linear-gradient(top, #666666, #333333 60%, #555555) !important;
    background-image: -ms-linear-gradient(top, #666666, #333333 60%, #555555) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#555555) color-stop(.4, #333333)) !important;
    background-image: -webkit-linear-gradient(top, #666666, #333333 60%, #555555) !important;
    background-image: -o-linear-gradient(top, #666666, #333333 60%, #555555) !important;
    background-image: linear-gradient(top, #666666, #333333 60%, #555555) !important;
    background-repeat: repeat-x !important;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#555555', GradientType=0) !important;
}

/* Custom Color */

body {
    background-color: #ecf7fb;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#wrap > .navbar {
    font-size: 13px;
}

#wrap > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

#wrap > .navbar .brand:hover {
    /* color: #ffffff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4); */
}

#wrap > .navbar .loginButton {
    display: block;
    line-height: 20px;
    padding: 10px 15px 10px;
    float: right;
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

#wrap > .navbar .loginButton:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Sticky Footer Styling */

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -70px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    min-height: 70px;
    max-height: 70px;
}

#footer {
    min-height: 70px;
    max-height: 70px;
    color: #EBEBEB;
    text-align: center;
    background-color: #555555;
    background-image: -moz-linear-gradient(top, #666666, #333333 40%, #555555);
    background-image: -ms-linear-gradient(top, #666666, #333333 40%, #555555);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#555555), color-stop(.4, #333333));
    background-image: -webkit-linear-gradient(top, #666666, #333333 40%, #555555);
    background-image: -o-linear-gradient(top, #666666, #333333 40%, #555555);
    background-image: linear-gradient(top, #666666, #333333 40%, #555555);
    background-repeat: repeat-x;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Header Styles */

#header {

}

#logo {
    float: left;
    margin-right: 5px;
    height: 40px;
}