<div>
	<center>
		<h1>Welcome to Web App Seed</h1>
	</center>
	<div class="container-fluid">
			<div class="row">
					<div class="col-md-4">
						<h2>Column1</h2>
						<p>This is an example home page</p>
					</div>
					<div class="col-md-4">
						<h2>Column2</h2>
						<p>It is broken into 3 columns</p>
					</div>
					<div class="col-md-4">
						<h2>Column3</h2>
						<p>Simply as an example</p>
					</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<center>
						<p>This is another row</p>
						<p>All of this is in a fluid contianer</p>
						<p>It should resize to mobile screens flawlessly</p>
						<p>This template file exists in assets/js/app/templates/home.dot<p>
					</center>
				</div>
			</div>
	</div>
</div>