<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <p>Copyright &copy; {{= it.data.appAuthor }} {{?it.data.appCopyrightYear}} {{=it.data.appCopyrightYear}} {{??}}{{ out += new Date().getFullYear(); }}{{?}}</p>
    </div>
    <div class="col-md-4">
      <a href="http://www.w3.org/html/logo/">
      <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-graphics-semantics-storage.png" width="229" height="64" alt="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, Semantics, and Offline &amp; Storage" title="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, Semantics, and Offline &amp; Storage">
      </a>
    </div>
    <div class="col-md-4">
      <p>
      Powered By: |
      {{~it.data.poweredBy :item:index}}
      {{?item.footer}}
      {{?item.url}}
      <a href="{{=item.url}}" target="_blank">{{=item.name}}</a>
      {{??}}
      {{=item.name}}
      {{?}}
      {{?index < it.data.poweredBy.length}}|{{?}}
      {{?}}
      {{~}}
      </p>
    </div>
  </div>
</div>